@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond')

.editor
  border: 1px dotted lightgrey
  border-radius: 3px
  box-sizing: border-box
  font-family: 'Cormorant Garamond', serif
  font-size: 18px
  height: 60vh
  outline: none
  padding: 20px
  resize: none
  width: 100%