.editorContainer
  border: 1px solid lightgrey
  border-radius: 3px

.editor
  border: none
  box-sizing: border-box
  font-family: 'Cormorant Garamond', serif
  font-size: 18px
  height: 60vh
  outline: none
  padding: 20px
  resize: none
  width: 100%
