.editorContainer
  border: 1px solid lightgrey
  box-sizing: border-box
  margin: 0 auto

.editor
  border: none
  box-sizing: border-box
  font-family: 'Inconsolata', sans-serif
  font-size: 15px
  height: 65vh
  line-height: 1.4em
  outline: none
  padding: 20px
  resize: none
  width: 100%
  vertical-align: top
